@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.common.css";
@import "./theme.light.css";
@import "./theme.dark.css";
@import "./theme.amberland.light.css";
@import "./theme.amberland.dark.css";
@import "./theme.emeraldline.light.css";
@import "./theme.emeraldline.dark.css";

/* @media (width >= 48rem) {
  .container {
    max-width: 48rem;
  }
}
@media (width >= 64rem) {
  .container {
    max-width: 64rem;
  }
}
@media (width >= 80rem) {
  .container {
    max-width: 80rem;
  }
}
@media (width >= 96rem) {
  .container {
    max-width: 96rem;
  }
} */
